<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
/**
*@BelongsPackage: mappers.userMapper
*@Author: Liao YunYang
*@Description: 
*@CreateTime: 2023-07-01  22:03
*@Version: 1.0
*/
-->
<mapper namespace="com.liao.power.mappers.SysUserRoleMapper">
    <!--namespace 一般要求使用接口的全限定名称 -->


    <!--为用户添加角色-->
    <insert id="insertUserRoleByUserIdAndRoleIds">
        INSERT INTO sys_user_role
        <trim prefix="(" suffix=")">
            role_id, user_id
        </trim>
        VALUES
        <foreach collection="roleIdList" item="roleId" separator=",">
            <trim prefix="(" suffix=")">
                #{roleId}, #{userId}
            </trim>
        </foreach>
    </insert>

    <!--根据用户id删除所有角色-->
    <delete id="deleteUserRoleAllByUserId">
        delete
        FROM sys_user_role
        WHERE user_id = #{userId}
    </delete>

</mapper>


